#image{
    height: 100px;
    width: 100px;
    margin-top: -250px;
    overflow: visible;
    position: relative;

}
#banner{
    width: 100%;
    border-radius: 10px;
    position: relative;
 }
#row{
    background-color: pink;
    color: black;
    padding: 30px;
    margin-top: 50px;
    border-radius: 15px;
}
#male-female{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
}
.description{
    margin-top: 50px;
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
}
.icon{
    margin-top: 30px;
    padding: 20px;
    margin-left: 20px;
}
